
body {
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
}

h2{
	font-size: 40px;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

h3{
    font-size: 25px;
    max-width: 87%;
    margin: 30px auto 15px auto;
}

h3, 
p{
	font-family: 'Lato', sans-serif;
	text-align: left;
}
p{
	font-size: 18px;
}

input{
	border: solid 2px;
	padding: 3px;
	font-weight: bold;
}

table{
    display: inline-table;
    width: 100%;
    border-bottom: solid 2px;
    padding-bottom: 60px;
}

.wrapper{
	max-width: 650px;
	text-align: center;
	margin: 80px auto;
	border: solid 3px;
}

.header{
	width: 100%;
	display: inline-block;
	clear: both;
    border-bottom: solid 3px;
    box-sizing: border-box;
}

.logo{
    border: solid 2px #000;
    width: 140px;
    display: inline-block;
    float: left;
    border-bottom: none;
    border-right: solid 5px #000;
    padding: 10px 0;

}

.logo img{
	max-width: 80px;
}
span{
	text-decoration: underline;
}

.content{
    width: auto;
    margin: 0 auto;
}

.content img{
	max-width: 190px;
}

.main_content{
    max-width: 100%;
    padding-bottom: 40px;
    padding: 0;
    margin: 0;
}

.description{
	max-width: 87%;
	margin: 0 auto;
	padding-bottom: 40px;
    text-align: right;
}

.inputScreen{
    text-align: right;
    padding: 0 50px;
}

button{
    padding: 10px 15px;
    font-weight: bold;
    font-size: 12px;
}

.inputScreen button{
    margin: 20px 0;
}

.inputScreen table{
    text-align: center;
}
