<!DOCTYPE html>
<html>

<head>
<title>madlibs</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
  <script data-require="angular-animate@1.3.11" data-semver="1.3.11" src="https://code.angularjs.org/1.3.11/angular-animate.js"></script>
  <script src="myApp.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body ng-app="animateApp">
 <div class="wrapper">
  <div class="header">
    <a href="#" class="logo"><img src="mad-lib-happy-face.png" /></a>
    <div class="content">
      <img src="ng-mad-libs-logo.png">
      <h2>Automate This!</h2>
    </div>
  </div>

  <div ng-controller="madlibs as vm" class="main_content"  >
    <div class="inputScreen" ng-show="vm.inputScreen === true">
      <h3>Provide the following words</h3>
      <form name="myForm">
      <table class="words" ng-model="user">
        <tr>
          <td><input type="text" ng-model="vm.user.maleName" placeholder="Male name" required /> </td>
          <td><input type="text" ng-model="vm.user.dirtyTask" placeholder="Dirty task" required/> </td>
          <td><input type="text" ng-model="vm.user.obnoxiousCelebrity" placeholder="Obnoxious Celebrity" required/> </td>
        </tr>
        <tr>
          <td><input type="text" ng-model="vm.user.jobTitle" placeholder="Job Title" required/> </td>
          <td><input type="text" ng-model="vm.user.celebrity" placeholder="Celebrity" required/> </td>
          <td><input type="number" ng-model="vm.user.hugeNumber" placeholder="Huge Number" required/> </td>
        </tr>
        <tr>
          <td><input type="text" ng-model="vm.user.tediousTask"  placeholder="Tedious Task" required/> </td>
          <td><input type="text" ng-model="vm.user.uselessSkill"  placeholder="Useless Skill" required/> </td>
          <td><input type="text" ng-model="vm.user.adjective"  placeholder="Adjective" required/> </td>
        </tr>
      </table>
          <button ng-click="vm.sendData()"  ng-disabled="myForm.$invalid">Generate My Mad Lib</button>
      </form>
    </div>

    <div class="description" ng-show="vm.inputScreen === false">
          <p><span>{{vm.user.maleName}}</span> was a <span>{{vm.user.jobTitle}}</span> who loved technology. Although she loved parts of her job, she absolutely hated <span>{{vm.user.tediousTask}}</span> and <span>{{vm.user.dirtyTask}}</span>. So, <span>{{vm.user.maleName}}</span> met with her life mentor <span>{{vm.user.celebrity}}</span> who told her to learn how to <span>{{vm.user.uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span>{{vm.user.uselessSkill}}</span> so she studied programming instead. </p> 

        <p>What a great decision! With her new skills, <span>{{vm.user.maleName}}</span> built a(n) <span>{{vm.user.adjective}}</span> robot named <span>{{vm.user.obnoxiousCelebrity}}</span> that not only loved <span>{{vm.user.dirtyTask}}</span> but did it <span>{{vm.user.hugeNumber}}</span> times faster. </p>

        <button ng-click="vm.startOVer()">Start Over</button>
    </div>

    </div>
  </div>
</body>

</html>