<header>
  <h1>Tweetful</h1>
  <p>Making The Internet a Little More Thoughtful</p>
</header>

<section>  
  <header>
  	<h2>Peter Lonestar</h2>
  	<h3>Founder</h3>
  </header>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</section>

<section>  
  <header>
	<h2>Bill Billerson</h2>
	<h3>CFO</h3>
  </header>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</section>

<section>  
  <header>
	<h2>Gabriel Guita</h2>
	<h3>CTO</h3>  
  </header>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</section>

<footer>
</footer>
